<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>

    </style>
</head>

<body>
    <form id="search" action="#" method="post">
        <input type="text" name="search" id="search_data" placeholder="Digite o que você procura">
    </form>

    <div id="results"></div>
    <script src="static/scripts.js"></script>
</body>

</html>